In [1]:
books = ["Inheritance","The Oz","OOTD"]
nums = range(100)

for book in books:
    print (book)

Inheritance
The Oz
OOTD

In [2]:
books = ["Inheritance","The Oz","OOTD"]
nums = range(100)

for book in books:
    print (book)
    
for n in nums:
    print(n)

Inheritance
The Oz
OOTD
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [3]:
num= range(100)
list(num)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [6]:
for n in num:
    if n%2==0 :
        print(n)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [7]:
def isEven(n):
    return n%2==0
isEven(5)

False

In [8]:
def isEven(n):
    return n%2==0
isEven(8)

True

In [9]:
for n in num:
    if isEven(n):
        print(n)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [11]:
for n in num:
    print(isEven(n),n)

True 0
False 1
True 2
False 3
True 4
False 5
True 6
False 7
True 8
False 9
True 10
False 11
True 12
False 13
True 14
False 15
True 16
False 17
True 18
False 19
True 20
False 21
True 22
False 23
True 24
False 25
True 26
False 27
True 28
False 29
True 30
False 31
True 32
False 33
True 34
False 35
True 36
False 37
True 38
False 39
True 40
False 41
True 42
False 43
True 44
False 45
True 46
False 47
True 48
False 49
True 50
False 51
True 52
False 53
True 54
False 55
True 56
False 57
True 58
False 59
True 60
False 61
True 62
False 63
True 64
False 65
True 66
False 67
True 68
False 69
True 70
False 71
True 72
False 73
True 74
False 75
True 76
False 77
True 78
False 79
True 80
False 81
True 82
False 83
True 84
False 85
True 86
False 87
True 88
False 89
True 90
False 91
True 92
False 93
True 94
False 95
True 96
False 97
True 98
False 99